<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ScmAirline</display-name>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
    <welcome-file>loginPage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.octest.ScmAirlines.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transitaire</display-name>
    <servlet-name>Transitaire</servlet-name>
    <servlet-class>com.octest.ScmAirlines.Transitaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transitaire</servlet-name>
    <url-pattern>/Transitaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.octest.ScmAirlines.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrasitOp</display-name>
    <servlet-name>TrasitOp</servlet-name>
    <servlet-class>com.octest.ScmAirlines.TrasitOp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrasitOp</servlet-name>
    <url-pattern>/TrasitOp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.octest.ScmAirlines.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Apropos</display-name>
    <servlet-name>Apropos</servlet-name>
    <servlet-class>com.octest.ScmAirlines.Apropos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Apropos</servlet-name>
    <url-pattern>/Apropos</url-pattern>
  </servlet-mapping>
</web-app>